.about {
  padding: 0 20px;
  background-image: url("../../assets/quote-icon.svg");
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.about__text {
  margin-top: 10px;
  max-width: 80ch;
  font-size: var(--fs-md);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
