.image-zoom {
  overflow: hidden;
}

.image-zoom img {
  width: 100%;
  height: auto;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out, filter 0.1s ease-in-out;
}

.image-zoom:hover img {
  transform: scale(1);
}
