.main {
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  background-image: url("../../assets/mountains-bw.png");
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__button {
  align-self: start;
  margin-left: 20px;
}
