/* TAG */
.tag__container {
  max-width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
}

.tag {
  font-family: "Fjalla One", sans-serif;
  font-size: var(--fs-sm);
  text-transform: uppercase;
  color: rgb(29, 116, 138);

  transform: translateX(-20px);
}

.tag__content ~ .tag {
  text-align: end;
  transform: translateX(20px);
}
