/* TAG */
/* .tag__container {
  max-width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
}

.tag__container.center {
  margin: 0 auto;
}

.tag {
  font-family: "Fjalla One", sans-serif;
  font-size: var(--fs-sm);
  text-transform: uppercase;
  color: rgb(29, 116, 138);

  transform: translateX(-20px);
}

.tag__content ~ .tag {
  text-align: end;
  transform: translateX(20px);
} */

.tag {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.tag__label {
  font-family: "Fjalla One", sans-serif;
  font-size: var(--fs-sm);
  text-transform: uppercase;
  color: rgb(var(--primary));
}
.tag__label:nth-of-type(2) {
  text-align: end;
}
.tag__content > :not(.tag__label) {
  padding: 5px 20px;
}
