@tailwind base;
@tailwind components;
@tailwind utilities;

.h100 {
  height: calc(100 * var(--vh));
}

.bg-image {
  background-image: url("./assets/code-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
