.portfolio {
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
}
.portfolio__grid {
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.portfolio__grid > * {
  height: 150px;
}
